<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于_平凡,致简</title>
<meta name="keywords" content="个人博客,平凡,致简个人博客,技术博客，IT,Python" />
<meta name="description" content="平凡,致简，是一个关于python,java,js等技术的博客。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/about.css" rel="stylesheet">
<link href="/static/css/m.css" rel="stylesheet">
<script src="/static/js/jquery.min.js" ></script>
<script src="/static/js/ab.js"></script>
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="http://www.jack61.com">平凡,致简</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="{% url 'home_page' %}">首页</a></li>
      <li><a href="{% url 'theme_article' article_theme='零一世界' index=1 %}">零一世界</a></li>
      <li ><a href="{% url 'theme_article' article_theme='品味生活' index=1 %}">品味生活</a></li>
      <li><a href="{% url 'theme_article' article_theme='零一世界' index=1 %}">文章转载</a></li>
      <li><a href="{% url 'time_line' index=1 %}">时间轴</a></li>
      <li><a href="{% url 'about_me' %}">关于我</a></li>
    </ul>
  </nav>
</header>
<article>
  <div class="photowall">
    <ul class="wall_a">
      <li><a href="/"><img src="/static/images/1.jpg">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li><a href="/"><img src="/static/images/3.jpg">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li><a href="/"><img src="/static/images/5.jpg">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li><a href="/"><img src="/static/images/6.jpg">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
    </ul>
  </div>
  <div class="abox">
  <h2>博主简介</h2>
  <div class="biji-content" id="content"> 90后的草根程序员！16年毕业，从事过一年多的测试工作，想从事python相关的工作，建立此站，一是为了学习；二是为了记录自己的学习经历。 </div>
  <div class="navlist">
    <ul>
      <li class="navcurrent"><a href="#top1">基本信息</a> </li>
      <li> <a href="#top2" >工作技能</a> </li>
      <li> <a href="#top3" >我的博客</a> </li>
      <li> <a href="#top4" >购买空间</a> </li>
    </ul>
  </div>
  <div class="navtab">
    <div class="navitem" style="display: block;" name = "top1">
      <div class="content">
        <p>网名：平凡,致简 | Jack.Z </p>
        <p>职业：python开发，后端 </p>
                <p>邮箱：1025806585@qq.com</p>
        <p>技术站点：</p>
        <p>github：<a href="https://github.com/A-small-reptile/">https://github.com/A-small-reptile</a></p>
          <p>csdn博客：<a href="https://blog.csdn.net/Zjack_understands">https://github.com/A-small-reptile</a></p>

      </div>
    </div>
    <div class="navitem" name = "top2">
      <div class="content">
        <p class="ab_t">工作技能：</p>
        <p>1、web后端开发python实现</p>
        <p>2、熟练使用MySQl数据库，熟悉MongoDB和Redis</p>
        <p>3、熟悉使用Django、Scrapy等框架</p>
        <p>4、了解多线程、多进程、分布式的处理</p>
        <p>5、熟练使用linux操作系统</p>
        <p>6、对数据结构和算法有一定的认识</p>
      </div>
    </div>

    <div class="navitem" name = "top3">
      <div class="content">
        <p class="ab_t">我的博客：</p>
        <p>域 名：www.jack61.com </p>
        <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=7zuhy0d4" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
        <p>备案号：粤ICP备18085108号</p>
        <p>程 序：python,mysql,django,linux</p>

        
      </div>
    </div>
    <div class="navitem" name = "top4">
      <div class="content">
        <p class="ab_t">购买空间：</p>
        <p><a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=7zuhy0d4" target="_blank">【推荐】阿里云ECS</a></p>
        <p><a href="https://promotion.aliyun.com/ntms/act/xsgroup/buy.html?group=CQEuGp5wjs" target="_blank">【推荐】阿里云学生特惠云服务器</a></p>
      </div>
    </div>
  </div>
 </div>
</article>
<footer>
    <p><a href="http://www.jack61.com" target="_blank">平凡,致简的个人博客</a> 粤ICP备18085108号</p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
