<!DOCTYPE HTML>
<html>
<head>
<title>平凡,致简</title>
<!-- Custom Theme files -->
<link href="/static/css/login.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="平凡,致简,注册" />
</head>

<body>
<div class="login">
	<h2>平凡,致简</h2>
	<div class="login-top">
		<h1>用户注册</h1>
		<form action="/register/" method="post" id="login">
            {% csrf_token %}
			<input type="text" id="name" name="username" placeholder="请输入邮箱注册" title="Name" required/>
			<input type="password" class="lock" name="password" title="Minimum 8 characters, one number, one uppercase and one lowercase letter"
                            placeholder="输入密码" id="password" required/>

            {{ register_form.captcha }}

	    <div class="forgot">
	    	<a href="/forget/">忘记密码?</a>
	    	<input type="submit" value="注册">
	    </div></form>
	</div>
	<div class="login-bottom">
		<h3>已注册<a href="/login/">登录</a></h3>
	</div>
</div>
</body>
</html>